<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="azcopy10" />
  <package id="azure-data-studio" />
  <package id="discord" />
  <package id="eraser" />
  <package id="git" />  
  <package id="keepass" />
  <package id="microsoftazurestorageexplorer" />
  <package id="nuget.commandline" />
  <package id="postman" />
  <package id="powertoys" />
  <package id="royalts-v5" />  
  <package id="servicebusexplorer" />
  <package id="spotify" />
  <package id="vscode" />  
</packages>